#superhero-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
body {
    color: aquamarine;
    background-color: black;
}
#superhero-details {
    position: relative;
}

.superhero-image {

}

.superhero-name {

}

.full-name {

}

.powerstats {

}

.publisher {

}

.alias {
    
}